@import '../config.scss';

.card-goal {
    box-shadow: $bs-lg;
    list-style: none;
    background: radial-gradient($color-primary, $color-primary-l1);
    border-radius: $br-lg;
    padding: $s-md3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: calc(33.333% - (($s-md1 + $s-md1)) / 3);
    position: relative;
    z-index: 1;
    color: $color-white;

    &:not(:last-of-type) {
        margin-right: $s-md1;
    }
}