@import '../config.scss';

.App {
    display: flex;
    min-height: 100vh;

    nav {
        width: 20%;
        max-width: 275px;
        background: $color-offwhite1;
        display: static;
        box-shadow: inset -25px 0 25px -25px rgba(0,0,0,0.1);
    }

    main {
        flex: 1;
        padding: $s-lg3;
    }
}