@import '../config.scss';

.App {
    display: flex;

    nav {
        width: 20%;
        max-width: 275px;
        background: $color-offwhite;
        display: static;
    }

    main {
        flex: 1;
    }
}