@import '../config.scss';

.line-graph-container {
    h2 {
        text-align: center;
        margin-bottom: $s-sm3;
        font-size: $font-md;
        letter-spacing: -.25px;
    }

    .recharts-wrapper {
        margin: auto;
    }

    .recharts-surface {
        margin-left: -25px;
    }
}