@import "../config.scss";

.milestone-page {

    h2 {
        margin-bottom: $s-md3;
    }

    .overview-section {
        .card-container {
            display: flex;
            flex-wrap: wrap;
            row-gap: $s-md1;
        }
    }
}