@import '../config.scss';

nav {
    padding: $s-md3 $s-lg1;

    .menu-buttons {
        display: none;
    }

    ul {
        padding: 0;
        position: fixed;
    }

    li {
        list-style: none;

        &:not(:last-of-type) {
            margin-bottom: $s-sm3;
        }
    }

    a {
        display: flex;
        align-items: center;
        transition: all .2s ease-in-out;

        &:hover {
            transform: translateX($s-sm1);
        }
    }

    .icon-container {
        margin-right: $s-sm3;
        width: 22px;
        display: flex;
        align-items: center;
    }

    svg {
        height: 18px;
        width: auto;
        fill: $color-primary;
    }

    a {
        text-decoration: none;
        font-size: $font-md;
    }

    @media only screen and (max-width: 1120px) {

        &.menu-opened {
            position: fixed;
            z-index: 100;
            height: 100%;
            transition: all .3s ease-in-out;
            min-width: 250px;

            .btn-open {
                display: none;
            }

            .btn-close {
                display: block;
                position: fixed;
            }

            ul {
                display: block;
                margin-top: $s-lg2;
            }
        }

        &.menu-closed {
            position: fixed;
            z-index: 100;
            height: 100vh;

            .btn-open {
                display: block;
                position: fixed;
                left: $s-md2;

                @media only screen and (max-width: 767px) {
                    position: static;
                    left: auto;
                }
            }

            .btn-close {
                display: none;
            }

            ul {
                display: none;
            }
        }

        .menu-buttons {
            display: flex;
            justify-content: flex-start;

            .opened {
                display: block;
            }

            .closed {
                display: none;
            }

            button {
                padding: 0;
                margin: 0;
                line-height: 1;
                background: rgba(0,0,0,0);
                border: none;
            }

            svg {
                fill: $color-primary;
                width: 22px;
                height: auto;
            }
        }
    }
}
