@import '../config.scss';

nav {
    padding: $s-md3 $s-lg1;

    .menu-buttons {
        display: none;
    }

    ul {
        padding: 0;
        position: fixed;
    }

    li {
        list-style: none;

        &:not(:last-of-type) {
            margin-bottom: $s-sm3;
        }
    }

    a {
        display: flex;
        align-items: center;
        transition: all .2s ease-in-out;

        &:hover {
            transform: translateX($s-sm1);
        }
    }

    .icon-container {
        margin-right: $s-sm3;
        width: 22px;
        display: flex;
        align-items: center;
    }

    svg {
        height: 18px;
        width: auto;
        fill: $color-primary;
    }

    a {
        text-decoration: none;
        font-size: $font-md;
    }

    @media only screen and (max-width: 999px) {
        &.menu-opened {
            .btn-open {
                display: none;
            }

            .btn-close {
                display: block;
            }

            ul {
                display: block;
            }
        }

        &.menu-closed {
            .btn-open {
                display: block;
            }

            .btn-close {
                display: none;
            }

            ul {
                display: none;
            }
        }

        .menu-buttons {
            display: block;

            .opened {
                display: block;
            }

            .closed {
                display: none;
            }
        }
    }
}
