@import '../config.scss';

.scorecard {
    // temp styling
    display: inline-block;
    margin: auto auto 2rem;
    // border: 1px solid $color-offwhite3;
    width: 100%;

    // regular styling
    background: $color-offwhite1;
    border-radius: $br-lg;
    box-shadow: $bs-lg;
    padding: $s-lg1;

    .header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .score-container, .score, .score span {
        line-height: 1;
    }

    .score-container {
        margin-bottom: $s-md3;
        position: relative;
    }

    .score {
        font-size: 3.75rem;
        font-weight: 700;

        span {
            color: $color-primary-l1;
            letter-spacing: -2px;
            line-height: 1;
        }
    }

    .info-container {
        margin-bottom: -.55rem;
        .flex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .flex-item-container {
            display: flex;
            align-items: flex-end;
            margin-bottom: $s-sm4;

            &:not(:last-of-type) {
                margin-right: $s-md4;
            }
        }

        svg {
            width: auto;
            height: 25px;
            fill: $color-offwhite3;
            margin-right: $s-sm3;
        }

        p {
            font-size: $font-md2;
            margin-bottom: 0;
            line-height: 1;
        }
    }

    .body {
        margin-top: $s-lg1;

        table {
            box-shadow: $bs-sm;
            border-radius: $br-lg;

            thead {
                background: radial-gradient($color-primary, $color-primary-l1);

                td {
                    color: $color-white;
                    text-align: center;

                    &:first-of-type {
                        text-align: left;
                        font-weight: 600;
                    }
                }
            }

            tbody {
                td {
                    text-align: center;

                    &:first-of-type {
                        text-align: left;
                        font-weight: 600;
                    }
                }
            }

            svg {
                height: 18px;
                width: auto;
                fill: $color-danger;
            }

            .color-primary svg {
                fill: $color-success;
            }
        }

        .front {
            margin-bottom: $s-lg1;
        }

        p.no-stats {
            font-size: $font-md2;
        }
    }
}