@import '../config.scss';

.scorecard {
    // temp styling
    // display: inline-block;
    // margin: auto auto 2rem;
    // border: 1px solid $color-offwhite3;
    // width: 100%;

    // regular styling
    // background: $color-offwhite1;
    // border-radius: $br-lg;
    // box-shadow: $bs-lg;
    // padding: $s-lg1;

    .header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .score-container, .score, .score span {
        line-height: 1;
    }

    .score-container {
        margin-bottom: $s-md4;
        position: relative;
    }

    .score {
        font-size: $font-lg;
        font-weight: 700;

        span {
            color: $color-primary-l1;
            letter-spacing: -.25px;
            line-height: 1;
        }
    }

    .info-container {
        margin-bottom: -.55rem;
        .flex-container {
            display: flex;
            flex-wrap: wrap;
        }

        .flex-item-container {
            display: flex;
            align-items: flex-end;
            margin-bottom: $s-sm4;

            &:not(:last-of-type) {
                margin-right: $s-md4;
            }
        }

        svg {
            width: auto;
            height: 25px;
            fill: $color-offwhite3;
            margin-right: $s-sm3;
        }

        p {
            font-size: $font-md2;
            margin-bottom: 0;
            line-height: 1;
        }
    }

    .body {
        margin-top: $s-lg1;

        table {
            box-shadow: $bs-sm;
            border-radius: $br-lg;

            thead {
                background: radial-gradient($color-primary, $color-primary-l1);

                th {
                    color: $color-white;
                    text-align: center;

                    &:first-of-type {
                        text-align: left;
                        font-weight: 600;
                    }
                }
            }

            tbody {
                td {
                    text-align: center;

                    &:first-of-type {
                        text-align: left;
                        font-weight: 600;
                    }
                }
            }

            svg {
                height: 18px;
                width: auto;
                fill: $color-danger;
            }

            .color-primary svg {
                fill: $color-success;
            }
        }

        .front {
            margin-bottom: $s-lg1;
        }

        p.no-stats {
            font-size: $font-md2;
        }
    }

    @media only screen and (max-width: 1029px) {
        width: auto;

        table {
            display: flex;
        }

        thead {
            border-radius: $br-lg 0 0 $br-lg;
            
            tr {
                display: flex;
                flex-direction: column;
            }

            th {
                height: 65px;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                border-bottom: none;
                border-right: 2px solid $color-offwhite3;

                &:first-of-type {
                    border-bottom: 1px solid $color-offwhite3;
                }
            }
        }

        tbody {
            display: flex;
        }

        tbody tr {
            display: flex;
            flex-direction: column;

            &:not(:last-of-type) td {
                border-bottom: none;
                border-right: 1px solid $color-offwhite3;
            }

            td {
                height: 65px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                &:first-of-type {
                    border-bottom: 1px solid $color-offwhite3;
                }
            }
        }
    }

    @media only screen and (max-width: 500px) {
        tbody tr td {
            padding: $s-sm4 $s-sm3;
        }
    }
}
// table tbody tr:not(:last-of-type) td