@import '../config.scss';

.table-container {
    overflow-x: scroll;
}

.table-container {
    box-shadow: $bs-xxl;
    border-radius: $br-lg;
}

table {
    border-spacing: 0;
    overflow: hidden;
    width: 100%;

    thead {
        background: $color-offwhite2;
        border-radius: $br-lg $br-lg 0 0;

        th {
            color: $color-offwhite4;
            font-weight: 400;
            text-transform: uppercase;
            text-align: left;
            border-bottom: 2px solid $color-offwhite3;
            letter-spacing: -.25px;
        }
    }

    tbody {
        tr {
            &:not(:last-of-type) td {
                border-bottom: 1px solid $color-offwhite3;
            }

            &:nth-of-type(even) {
                background: $color-offwhite1;
            }

            &:nth-of-type(odd) {
                background: $color-white;
            }
        }
    }

    th, td {
        padding: $s-md1 $s-md2;
    }

    td svg {
        fill: $color-primary;
        height: 22px;
        width: auto;
        margin-bottom: -6px;
    }

    @media only screen and (max-width: 767px) {
        td {
            padding: $s-md1 $s-sm4;
        }
    }
}