// imports
@import './reset.scss';

/////// variables

//// primary colors
$color-primary: #003459;

// primary darker
$color-primary-d1: #002f50;
$color-primary-d2: #002a47;
$color-primary-d3: #001f35;
$color-primary-d4: #001a2d;
$color-primary-d5: #001524;

// primary lighter
$color-primary-l1: #004d83;
$color-primary-l2: #0065ad;
$color-primary-l3: #007ed7;
$color-primary-l4: #0296ff;
$color-primary-l5: #2ca7ff;
$color-primary-l6: #81caff;
$color-primary-l7: #d5edff;

// bacground colors
$color-offwhite: #FAFAFA;

// status colors
$color-danger: #DE3142;
$color-success: #1A8754;
$color-warning: #ffd96a;

/////// spacing
$s-sm1: .25rem;
$s-sm2: .5rem;
$s-sm3: .75rem;
$s-sm4: 1rem;
$s-md1: 1.25rem;
$s-md2: 1.5rem;
$s-md3: 1.75rem;
$s-md4: 2rem;
$s-lg1: 2.5rem;
$s-lg2: 3rem;
$s-lg3: 4rem;
$s-lg4: 6rem;
$s-lg5: 8rem;

/////// mixins

/////// common styling
