// imports
@import './reset.scss';

/////// variables

//// primary colors
$color-primary: #003459;

// primary darker
$color-primary-d1: #002f50;
$color-primary-d2: #002a47;
$color-primary-d3: #001f35;
$color-primary-d4: #001a2d;
$color-primary-d5: #001524;

// primary lighter
$color-primary-l1: #004d83;
$color-primary-l2: #0065ad;
$color-primary-l3: #007ed7;
$color-primary-l4: #0296ff;
$color-primary-l5: #2ca7ff;
$color-primary-l6: #81caff;
$color-primary-l7: #d5edff;

// background colors
$color-white: #fff;
$color-offwhite1: #FAFDFF;
$color-offwhite2: #F2F5F7;
$color-offwhite3: #E3E9ED;
$color-offwhite4: #516272;

// font colors:
$color-font-light-theme: #56595D;

// status colors
$color-danger: #DE3142;
$color-success: #1A8754;
$color-warning: #ffe0b2;
$color-completed: #b49759;

/////// spacing
$s-sm1: .25rem;
$s-sm2: .5rem;
$s-sm3: .75rem;
$s-sm4: 1rem;
$s-md1: 1.25rem;
$s-md2: 1.5rem;
$s-md3: 1.75rem;
$s-md4: 2rem;
$s-lg1: 2.5rem;
$s-lg2: 3rem;
$s-lg3: 4rem;
$s-lg4: 6rem;
$s-lg5: 8rem;

// box-shadows
$bs-sm: rgba(0, 0, 0, 0.075) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$bs-md: rgba(0, 0, 0, 0.075) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$bs-lg: rgba(0, 0, 0, 0.075) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$bs-xl: rgba(0, 0, 0, 0.175) 0px 25px 50px -12px;
$bs-xxl: rgba(0, 0, 0, 0.1) 0px 10px 50px;

// border radius
$br-sm: 3px;
$br-md: 5px;
$br-lg: 8px;
$br-xl: 12px;
$br-xxl: 20px;

// font-sizes
$font-xs: .75rem;
$font-sm: .0875rem;
$font-reg: 1rem;
$font-md: 1.125rem;
$font-md2: 1.25rem;
$font-lg: 1.5rem;
$font-xl: 2rem;
$font-xxl: 2.5rem;

/////// mixins
@mixin btnPrimary {
    background: linear-gradient(to right, $color-primary, $color-primary-l1);
    border: none;
    padding: calc($s-sm3 + 2px) $s-md4;
    font-weight: 600;
    border-radius: 30px;
    transition: all 2s ease-in-out;

    .btn-text {
        color: $color-white;
    }

    .btn-icon svg {
        height: $font-reg;
        width: 0;
        fill: $color-white;
        margin-bottom: -3px;
        margin-left: 0;
        transition: all .2s ease-in-out;
    }

    &:hover {
        background: linear-gradient(to left, $color-primary, $color-primary);

        .btn-icon svg {
            margin-left: 1.25rem;
            display: inline-block;
            width: auto;
        }
    }
}

/////// common styling
*:not(i) {
    font-family: 'Source Sans Pro', sans-serif;
    color: $color-font-light-theme;
}

.year-selector-section {
    margin-bottom: $s-md4;
}

.overview-section {
    margin-bottom: $s-lg3;

    h2 {
        margin-bottom: $s-md3;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;
        row-gap: $s-md1;
    
        @media only screen and (max-width: 767px) {
            row-gap: $s-md2;
        }
    
    }

    @media only screen and (max-width: 767px) {
        margin-bottom: $s-lg2;
    }
}

.graph-section {
    margin-bottom: $s-lg3;

    @media only screen and (max-width: 767px) {
        margin-bottom: $s-lg2;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;

        .flex-item {
            flex-basis: 50%;

            @media only screen and (max-width: 849px) {
                flex-basis: 100%;

                &:not(:last-of-type) {
                    margin-bottom: $s-md3;
                }
            }
        }
    }
}

.btn-primary {
    @include btnPrimary;
}

// modal
button.btn.btn-primary {
    color: $color-white;

    &:hover {
        cursor: pointer;
    }
}

body.modal-open {
    max-height: 100%;
    max-width: 100%;
    position: relative;

    #root {
        height: 0;
    }

    .modal-backdrop {
        background: $color-primary-d4;
        opacity: .95;
        width: 100%;
        height: 100%;
        position: absolute !important;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .modal.show {
        background: $color-white;
        box-shadow: $bs-xxl;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1001;
        padding: $s-md3 0;
        border-radius: $br-xl;

        .modal-body {
            max-height: calc(100vh - (50px + $s-md3 + $s-md3));
        }
    }

    .modal-content {
        margin: 0 $s-md1;

        .modal-head {
            display: flex;
            justify-content: flex-end;
            margin-bottom: $s-sm3;
        }

        .btn-close {
            background: rgba(0,0,0,0);
            border: none;
            padding: 0;
            margin-right: $s-sm2;

            svg {
                height: 22px;
                width: auto;
                fill: $color-font-light-theme;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .modal.show {
            padding: 0;
            margin: auto;
            width: 100vw;
            height: 100vh;
            top: 0;
            border-radius: 0;

            .modal-content {
                padding-top: $s-md1;

                .btn-close {
                    margin-right: $s-md3;
                }
            }
        }
    }
}